.top-company img{max-width:40px}
.company-btn{
    color:#2196f3;
    background-color:rgba(33,150,243,0.1);
    font-size:12px;
    padding:4px 10px;
    border-radius:5px;
}

.company a{
    text-decoration: none;
}

.imglogo{
    width: 100px;
    height: fit-content;
}

  .btn-trending {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none!important;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 20px;
    transition: 0.5s;
    color: #fff;
    background: #7949a5;
    margin: 10px;
  }

  .btn-trending:hover {
    font-weight: 450;
    color: #fff;
    background: #882bdf;
    cursor: pointer;
  }
