.top-company img{max-width:40px}
.company-btn{
    color:#2196f3;
    background-color:rgba(33,150,243,0.1);
    font-size:12px;
    padding:4px 10px;
    border-radius:5px;
}

.company a{
    text-decoration: none;
}

.imglogo{
    width: 100px;
    height: fit-content;
}

  .btn-trending {
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    text-decoration: none!important;
    background-color: transparent;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
    color: #722505;
    margin: 3px;
  }

  .btn-trending:hover {
    color: #eb5d1e;
    background: transparent;
    cursor: pointer;
  }

  .btn-trending:focus {
    outline:2px solid #eb5d1e;
  }