  /* -------Welcome------ */

  #modal {
    margin: 0 auto; 
 }

#welcome {
  width: 100%;
  height: 100%;
  background: #fef8f571;
  /* border-bottom: 2px solid #fcebe3; */
}

#welcome h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: auto;
  color: #4e4039;
}

#welcome h2 {
  color: #a08f86;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: auto;
  font-size: 24px;
}

#welcome .icon img{
  height:60px;
  width: 60px;
}

#welcome .icon2 img{
  height:70px;
  width: 70px;
  border-radius: 20%;
  padding: 5px;
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
  border: 2px solid rgba(14, 3, 0, 0.171);
}

#welcome .icon img:hover{
  padding: 5px;
  transition: .5s ease;
}

#welcome .icon a{
  text-decoration: none !important;
}

#welcome .icon a:hover{
  font-weight: bold;
}


#welcome .icon p{
  color: rgba(51, 51, 51, 0.747);
  font-size: small;
}

#welcome .logo img{
  width: 50%;
}

#welcome .logo2 img{
  width: 100%;
}

.homeContent{
  padding-top: 15%;
}

.homeContent2{
  padding-top: 25%;
}


.formInput {
  width: 100%;
  background: transparent;
  color: #290d01;
  border: 2px solid #eb5d1e;
  font-size: 1em;
  border-radius: 10px 0 0 10px;
  font-weight: 400;
  padding: 20px;
  margin-top: 10px;
}
.formInput:focus {
  background-color: transparent;
  /* border: 2px solid #eb5d1e; */
}
 
.formButton {
  width: 100%;
  color: #ffffff;
  /* background-color: #eb5d1e; */
  border: 2px solid #eb5d1e;
  font-size: 1em;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  margin-top: 10px;
}
.formButton:hover {
  background-color: #ffffff;
  color: #eb5d1e;
  border: 2px solid #eb5d1e;
}

.footerTop a, .footerTop button{
  text-decoration: none;
  color: rgba(51, 51, 51, 0.747);
  margin: 10px;
  font-size: 15px;
  font-weight: 500;
  outline: none ;
  }
  .footerTop button:focus{
border-color: transparent;
outline: none;
  }

  .footerTop a:hover, .footerTop button:hover{
    color: #eb5d1e;
    }
  

.footerEnd a, span{
text-decoration: none;
color: rgba(51, 51, 51, 0.747);
margin: 5px;
font-size: small;
}

.footerEnd a:hover{
  color: #eb5d1e;
  }

  .footerCenter .btnCat{
    border: none !important;
    color: #8d2d05;
    background: transparent;
    outline: none !important;
    border: none !important;
    margin: auto;
    text-decoration: none !important;
  }
  .footerCenter .btnCat:hover{
    color: #eb5d1e;
    transition: ease;
  }

#welcome .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.boxx{
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
  display: inline-block;
  padding: 30px;
  height: auto;
  color: rgb(100, 97, 97);
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
}


@media (min-width: 1024px) {
  #welcome {
    background-attachment: fixed;
  }
  #welcome .welcome-img img {
    width: 90%;
  }
}

@media (max-width: 991px) {
  #welcome{
   height: 100%;
  }
  #welcome .animated {
    -webkit-animation: none;
    animation: none;
  }
  #welcome .welcome-img {
    text-align: center;
  }
  #welcome .welcome-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #welcome{
    height: 100%;
  }
  #welcome h1 {
    font-size: 18px;
    line-height: auto;
  }
  #welcome h2 {
    font-size: 12px;
    line-height: auto;
    margin-bottom: 10px;
  }
  #welcome .welcome-img img {
    width: 70%;
  }
}

@media (max-width: 675px) {
  #welcome .welcome-img img {
    width: 80%;
  }
  #welcome{
    height: 100%;
  }

  #welcome .logo img{
    height: 50%;
    width: 50%;
  }

  .formInput {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
  }
   
  .formButton {
    /* background-color: #eb5d1e; */
    border: 2px solid #eb5d1e;
    font-size: 13px;
    font-weight: 400;
  }

  .footerCenter .btnCat{
   font-size: small;
  }

}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

  /* -----------User/Emploer lander sidebar---------- */
  .shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  }
  
  .profile-tab-nav {
    min-width: 250px;
    margin: 10px;
    margin-top: 10px;
  }
  
  .tab-content {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
  }

  .nav-pills a.nav-link.active,
  .nav-pills a.nav-link:hover {
    background-color:#ee6120;
    color:white;
  }

  .nav-pills a.nav-link i {
    width: 20px;
  }
  
  .img-circle {
    height: 200px;
    display: inline-block;
    width:200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(252, 234, 229, 0.356);
  }
  .img-circle img{
    height:100%;
    width: 100%;
  }

  @media only screen and (max-width: 680px) {
    .img-circle {
      height: 100px;
      display: inline-block;
      width:100px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #fff;
    }
  }

  
  @media only screen and (max-width: 680px) {
    .imglogo {
      height: 100px;
      width:100px;
    }
  }

  /* -------------input image ----- */
  .dragBox {
    min-width: 150px;
    height: 35px;
    position: relative;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background: #eb5d1e;
    display: inline-block;
    transition: all .4s;
    cursor: pointer;
    overflow: hidden;
  }
  .dragBox input[type="file"] {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
    }

    .dragBox:hover, .dragBox input:hover{
      cursor: pointer;
      color: #eb5d1e;
      background: #ffffff;
      border:2px solid #eb5d1e;
    }
/* -------------input resume ----- */
.resume-container {
  width: 100%;
}
.resume-container input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #ffffff;
}
.btn-wrap {
  position: relative;
}
.btn-resume {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #eb5d1e;
  font-size: 16px;
  font-weight: bold;
  color: #eb5d1e;
}
.btn-resume:hover {
  color: #722706;
}

.file-name{
  color: #6b5b95;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
}

.btn-upload{
  border: none !important;
  color: #eb5d1e;
  background: transparent;
  outline: none !important;
  border: none !important;
  cursor: pointer;
  margin: auto;
  text-decoration: none !important;
}
.btn-upload:hover{
  color: #8d2d05;
  transition: ease;
}

  /********** Login/Register***********/
  .formCenter {
    margin-bottom: 50px;
  }
  
  .formTitle {
    color: #eb5d1e;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .formTitleLink {
    color: #eb5d1e;
    text-decoration: none!important;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .formTitleLink:first-child {
    margin-left: 0;
  }
  
  .formTitleLink:hover {
    color: #eb5d1e;
    border-bottom: 1px solid #6b5b95;
  }

  .formTitleLink-active {
    color: #eb5d1e;
    border-bottom: 1px solid #6b5b95;
  }
  
  .formField {
    margin-bottom: 20px;
  }
  
  .formFieldLabel {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
    color: #6b5b95;
  }
  .formFieldInput {
    width: 100%;
    background: transparent;
    border: none;
    color: #290d01;
    outline: none;
    border-bottom: 2px solid #eb5d1e;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .formFieldInput:focus {
    background-color: transparent;
  }
  
  .formFieldInput::placeholder {
    color: #000000ad;
  }
  
   .formFieldButton {
    transition: all .5s ease-in-out;
    background-color: #fce8e0;
    color: #eb5d1e;
    border-color: 2px solid #eb5d1e;
    border-radius: 25px;
    padding: 10px 50px;
    font-size: 1em;
    font-weight: 500;
  } 

  .links a{
    text-decoration: none;
    color: #eb5d1e;
  }
  
  .links a:hover{
    color:#eb5d1e;
    font-weight: bold;
  }

  .effect {
    color:#eb5d1e;
    text-decoration: none;
    /* background-image: -webkit-linear-gradient(45deg, #560f77 50%, transparent 50%); */
    background-image: linear-gradient(20deg, #eb5d1e 50%, transparent 50%);
    background-position: 100%;
    background-size: 500%;
    -webkit-transition:  300ms ease-in-out;
    transition: all .5s ease;
  }
  .effect:hover {
    background-position: 0;
    color: #fff;
  }
  
  
  .formFieldLink {
    color: #66707d;
    text-decoration: none!important;
    display: inline-block;
    border-bottom: 1.5px solid #6b5b95;
    padding-bottom: 5px;
  }
  
  .formFieldCheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
  }
  
  .formFieldCheckbox {
    position: relative;
    top: 1.5px;
  }
  
  .formFieldTermsLink {
    color:#eb5d1e;
    border-bottom: 1px solid #eb5d1e;
    text-decoration: none!important;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  
  .socialMediaButtons {
    padding: 10px 100px 10px 0px;
  }
  
  /********** Tab***********/
  .tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    font-weight:500;
    color:#eb5d1e;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    margin-right: 10px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
  }

  .tab-list-item:hover {
    background-color:#eb5d1e;
    border-radius: 5px;
    color: white;
  }
  
  .tab-list-active {
    background-color:#eb5d1e;
    border-radius: 5px;
    border: solid #ccc;
    color: white;
    border-width: 1px 1px 0 1px;
  }

 /* --------other styles----- */

  .btn-findJob {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none!important;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #eb5d1e;
    transition: ease-in-out;
    background: #fff;
    color: #eb5d1e;
  }

  .btn-findJob:hover {
    background: #eb5d1e;
    color: #ffffff;
    border: 2px solid #eb5d1e;
  }

  .inputStyle {
    width: 100%;
    background-color: transparent;
    border: none;
    border-color: #7e2603;
    outline: none;
    border-bottom: 1px solid #eb5d1e;
  }
  /* -----------Job List sidebar----------*/
  .sidebar-tabs {
    min-width: 200px;
  }
  .sidebar-pills{
    margin: 10px;
  }
  .sub-tab {
    padding: 5px 20px;
    margin-bottom: 5px;
    border: none;
    color: #333;
  }
  .sub-tab option {
    padding: 5px;
    color: #eb5d1e;
  }
  .sub-tab option:hover {
    border-color: #eb5d1e;
  }

  .sub-title{
    font-size: 14px;
    margin-top: 10px;
    border-bottom: #eb5d1e solid 1px;
  }

  .app_dropdown{
    float:center;
  }
  
  .app_dropdown select{
    background-color: #ffffff;
    color: rgb(37, 36, 36);
    border-radius: 5px;
    border: #104bcc;
    outline: none;
  }
  
  .app_dropdown:hover::before {
    color: rgba(14, 140, 224, 0.877);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .app_dropdown select option {
    padding: 30px;
  }


  .modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}

/* ------------Profile Card------- */
.card-container h3 {
	margin: 10px 0;
  font-size: 24px;
}

.card-container p {
	margin: 5px 0;
  font-weight: bold;
	text-transform: uppercase;
}

.card-container h6 {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #ffffff;
	border-radius: 5px;
	color: #6b5b95;
	padding-top: 30px;
	position: relative;
	text-align: center;
}

.card-container .round {
	border: 1px solid #eb5d1e;
	border-radius: 50%;
	padding: 3px;
  width:200px;
  height: auto;
}

a.primary, button.primary {
	/* background-color: #03BFCB; */
  background-color: #eb5d1e;
	border: 2px solid #eb5d1e;
	border-radius: 3px;
	color: white;
	font-family: Montserrat, sans-serif;
	padding: 5px 10px;
}
a.primary:hover, button.primary:hover {
	background-color: white;
	border: 2px solid #eb5d1e;
	color: #231E39;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
}

.skills {
	text-align: left;
	padding: 10px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border-color: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
  text-transform: capitalize;
	font-size: 14px;
	margin: 0 5px 5px 0;
	padding: 3px;
}

/* ---------- Profile Edit ------- */
.profile-head {
  padding:10px;
  margin: 10px;
  text-align: center;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}

.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}

/* ------------Payment------- */

.contain{
  width: 80%;
  justify-content: center;
}
.pricingTable{
  margin-top:30px;
  text-align: center;
  position: relative;
}
.pricingTable .pricing_heading:after{
  content: "";
  width: 36px;
  height: 29.5%;
  background:#eb5d1e;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
  transform: skewY(45deg) translateY(18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .title{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  background: #eb5d1e;
  padding: 15px 0 0;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable .value{
  display: block;
  font-size: 35px;
  font-weight: 700;
  color: #000;
  background: #eb5d1e;
  padding: 5px 0 10px;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .title,
.pricingTable:hover .value{
  color: #fff;
}
.pricingTable .month{
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.pricingTable .content{
  border-left: 1px solid #f2f2f2;
  position: relative;
}
.pricingTable .content:after{
  content: "";
  width: 35px;
  height: 100%;
  background: #f8f8f8;
  box-shadow: 9px 9px 20px #ddd;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: skewY(-45deg) translateY(-18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .content ul{
  padding: 0;
  margin: 0 35px 0 0;
  list-style: none;
  background: #fff;
}
.pricingTable .content ul li{
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 23px;
  padding: 11px 0;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link{
  background: #fff;
  padding: 20px 0;
  margin-right: 35px;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link button{
  display: inline-block;
  text-decoration: none;
  padding: 9px 20px;
  font-weight: 700;
  color: #eb5d1e;
  text-transform: uppercase;
  border: 1px solid #ee6120;
  background: #fff;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .link button{
  color: #fff;
  background: #06D6A0;
  border: 1px solid #06D6A0;
}
.pricingTable:hover .pricing_heading:after,
.pricingTable:hover .title,
.pricingTable:hover .value{
  background:#06D6A0;
}
@media only screen and (max-width: 990px){
  .pricingTable{
      margin-bottom: 35px;
  }
}


/* ----------pagination------- */
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #eb5d1e;
  color: #eb5d1e;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #eb5d1e;
}

.paginationActive a {
  color: white;
  background-color: #eb5d1e;
}

.paginationDisabled a {
  color: #eb5d1e;
  background-color: white;
}


/* ----------Table----- */


.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  margin: auto;
  letter-spacing: 0.03em;
  padding: 25px 30px;
}
.table-row {
  padding: 25px 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

  /* ---------------------- */
  #content {
    overflow: hidden; 
    height: 2em;
    line-height: 1em;
  }
  #more:checked + div {
    height: auto;
  }