/*********** Nav Bar **********/
.navbar {
    position: fixed;
    background: #ffffffe3!important;
    /* background-image: linear-gradient(to right, #052c47, #012241d0);*/
}
#nav-dropdown-item{
  color: rgb(15, 15, 15);
  background-color: white;
  border-radius: 2px;
}
#nav-dropdown-item:hover{
font-weight: 500;
color: #eb5d1e;
}

.nav-item:hover .dropdown-menu {
  display: block !important;
}

.nav-sticky {
    position: fixed;
    background: #ffffffee!important;
    transition: .5s;
}

.navbar .navbar-brand {
    color: #000000;
    font-size: 30px;
    line-height: 0px;
    font-weight: 200;
}

.navbar .navbar-brand:hover {
    color: #000000b2;
    font-size: 30px;
    transition: .2s ease-in-out;
    font-weight: bold;
}

.navbar .navbar-brand img {
    max-height: 40px;
}

.navbar .navbar-nav .nav-link{
    color: #1a1a1a;
 }

 .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:hover{
    font-weight: bold;
    color: #eb5d1e;
  }


@media (min-width: 992px) {
    .navbar {
        position: relative;
        width: 100%;
        background:#ffffffee!important;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffffe3 !important;
    }
        
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
      position: relative;
      overflow: hidden;
      background: #ffffffee!important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
}


/* -------Welcome------ */
#welcome {
    width: 100%;
    height: 500px;
    background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
  }
  
  #welcome h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #4e4039;
  }
  
  #welcome h2 {
    color: #a08f86;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #welcome .btn-findJob {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none!important;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #eb5d1e;
  }
  
  #welcome .btn-findJob:hover {
    background: #ef7f4d;
  }
  
  #welcome .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (min-width: 1024px) {
    #welcome {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    #welcome {
      height: calc(100vh - 72px);
    }
    #welcome .animated {
      -webkit-animation: none;
      animation: none;
    }
    #welcome .welcome-img {
      text-align: center;
    }
    #welcome .welcome-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #welcome h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #welcome h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #welcome .welcome-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #welcome .welcome-img img {
      width: 80%;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /********** 404***********/
  .canvan404 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #fff;
    z-index: 1000000;
    opacity: 0;
    animation: hide404 1s ease;
  }  
  @keyframes hide404 {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.bgk{
  background: #1414142a;
  padding-bottom: 20px;
}

.err span{
  font-size: 20em;
  font-weight: 800;
  color: #eb5d1e;
  font-family: cursive;
}
.err i{
  font-size: 10em;
  font-weight: 200;
  color: #08bbdb;
}
.num1{
  -webkit-animation: 2s anime1 infinite;
  animation: 2s anime1 infinite;
}
.num2{
  -webkit-animation: 2s anime2 infinite;
  animation: 2s anime2 infinite;
}
.num3{
  -webkit-animation: 2s anime3 infinite;
  animation: 2s anime3 infinite;
}
.btn-style{
  border: 2px solid #eb5d1e;
  border-radius: 0;
  color: #fc4a04;
  padding: 10px 50px;
}
@-webkit-keyframes anime1 {
  20%{-webkit-transform: translateY(-40px);transform: translateY(-40px);}
  40%{-webkit-transform: translateY(40px);transform: translateY(40px);}
}
@keyframes anime1 {
  20%{-webkit-transform: translateY(-40px);transform: translateY(-40px);}
  40%{-webkit-transform: translateY(40px);transform: translateY(40px);}
}
@keyframes anime2 {
  40%{-webkit-transform: translateY(-40px);transform: translateY(-40px);}
  60%{-webkit-transform: translateY(40px);transform: translateY(40px);}
}
@keyframes anime3 {
  60%{-webkit-transform: translateY(-40px);transform: translateY(-40px);}
  80%{-webkit-transform: translateY(40px);transform: translateY(40px);}
}
  /********** Footer***********/

  #footer {
    position: bottom;
    bottom: 0;
  }
  #footer .footer-top {
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top input {
    all:unset;
    width:100%;
    min-height:7vh;
    border:none;
    color:#fff;
    font-size:30px;
    padding: 3px;
  }

  #footer .footer-top .contacts {
    margin-top: 50px;
    display: table-row
  }
  #footer .footer-top .contacts h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #footer .footer-top button {
    width:100%;
    min-height:7vh;
    font-size:26px;
    padding: 3px;
  }

  #footer .footer-top input:focus {
    border: 1px solid #eb5d1e ;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 20px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fc4a04;
    font-size: 12px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    font-size: 14px;
    color: #5c5c5c;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #fc4a04;
  }
  
  #footer .footer-top .social-links a {
    display: inline-block;
    border-color: #fc4a04;
    color: rgb(44, 43, 43);
    padding: 8px;
    margin: 4px;
    width: auto;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    color: #eb5d1e;
    text-decoration: none;
  }
  
  #footer .copyright {
    text-align: center;
    color: #eb5d1e;
    float: left;
  }
  
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #212529;
  }
  
  #footer .credits a {
    color: #fc4a04;
  }

  #footer .brderline {
   border-bottom: 2px solid #eb5d1e;
  }
  
  @media (max-width: 575px) {
    #footer .copyright, #footer .credits {
      float: none;
      -moz-text-align-last: center;
      text-align-last: center;
    }
  }
  

/* -----------progress-bar---------- */

.container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	width: 100%;
 	height: auto;
}

.progress-bar {
 	width: 100%;
 	height: 10px;
  background: white;
 	border-radius: 5px;
 	border: 1px solid rgba(102, 102, 102, 0.205);
}

.range {
 	background: rgb(109, 236, 109);
 	height: 100%;
 	border-radius: inherit;
 	transition: width .3s ease-in;
}